<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">{{ 'home.navbar.title' | translate }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">{{ 'home.navbar.init' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{ 'home.navbar.test' | translate }}</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron">
  <h1 class="display-3">{{ 'home.jumbotron.title' | translate }}</h1>
  <p class="lead">{{ 'home.jumbotron.description' | translate }}</p>
   <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary active" [ngClass]="{'active': translateService.currentLang === 'ca'}" (click)="translateService.use('ca')">
      {{ 'common.button.catalan' | translate }}
    </button>
    <button type="button" class="btn btn-secondary" [ngClass]="{'active': translateService.currentLang === 'es'}" (click)="translateService.use('es')">
      {{ 'common.button.spanish' | translate }}
    </button>
  </div> 
</div>